{% extends 'base.html' %}
{% block content %}
{% load static %}

    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8"> 
          <div class="container">
            <div class="row">
              <!-- post -->
              {% for article in article_list %}
              <div class="post col-xl-6">
                <div class="post-thumbnail"><a href="{{ article.get_absolute_url }}"><img src="{{ article.thumpnail.url }}" alt="..." class="img-fluid"></a></div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                    <div class="date meta-last">{{ article.timestamp }}</div>
                    {% for cat in article.category.all  %}
                    <div class="category"><a href="#">{{ cat }}</a></div>
                    {% endfor %}
                  </div><a href="#">
                    <h3 class="h4">{{ article.title }}</h3></a>
                  <p class="text-muted">{{ article.overview }}</p>
                  <footer class="post-footer d-flex align-items-center">
                    <a href="#" class="author d-flex align-items-center flex-wrap">
                      <div class="avatar"><img src="{{ article.author.profile_picture.url }}" alt="..." class="img-fluid"></div>
                      <div class="title"><span>{{ article.author }}</span></div>
                    </a>
                    <div class="date"><i class="icon-clock"></i>{{ article.timestamp|timesince }}</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>12</div>
                  </footer>
                </div>
              </div>
              {% endfor %}
            </div>
            <!-- Pagination -->
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ page_obj.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                {% endif %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ page_obj.number }}" class="page-link active">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ page_obj.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </main>
       {% include 'sidebar.html' %}
      </div>
    </div>
   
   
  {% endblock %}